h1{
  text-align:center;
}

.chicken{

text-align:center;
  background:#959595;
  

}


.Beef{

text-align:center;
  background-color:#959595;
  align-items:center;
  

}


.Sushi{

text-align:center;
  background:#959595;
  

}
.Chicken-headline{
text-align:center;

}
