h1{
  text-align:center;
}

.chicken{

text-align:center;
  background:#959595;
  

}


.Beef{

text-align:center;
  background:#959595;
  

}


.Sushi{

text-align:center;
  background:#959595;
  

}
